@charset "UTF-8";

/* 西文字体 */
@import url("./English/Inter/Inter.css");
@import url("./English/JetBrainsMono/JetBrainsMono.css");
@import url("./English/Jost/Jost.css");
@import url("./English/Lexend/Lexend.css");
@import url("./English/SourceCodePro/SourceCodePro.css");
/* 中文字体 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@100;300;400;500;700;900&display=swap");

@namespace url("http://www.w3.org/1999/xhtml");
@namespace svg url("http://www.w3.org/2000/svg");
@namespace math url("http://www.w3.org/1998/Math/MathML");

:root {
    --FTMLE_header-text-font-primary: "Lexend";
    --FTMLE_header-text-font-fallback: sans-serif;
    --FTMLE_header-text-font: var(--FTMLE_header-text-font-primary), var(--FTMLE_header-text-font-fallback);

    --FTMLE_UI-text-font-primary: "Jost";
    --FTMLE_UI-text-font-fallback: sans-serif;
    --FTMLE_UI-text-font: var(--FTMLE_UI-text-font-primary), var(--FTMLE_UI-text-font-fallback);

    --FTMLE_main-text-font-primary: "Inter";
    --FTMLE_main-text-font-fallback: sans-serif;
    --FTMLE_main-text-font: var(--FTMLE_main-text-font-primary), var(--FTMLE_main-text-font-fallback);

    --FTMLE_code-text-font-primary: "JetBrains Mono";
    --FTMLE_code-text-font-fallback: "Source Code Pro", "Source Code VF", monospace, sans-serif;
    --FTMLE_code-text-font: var(--FTMLE_code-text-font-primary), var(--FTMLE_code-text-font-fallback);
}

:root:where(:lang(cn)) {
    --FTMLE_header-text-font-primary: "Lexend", "Noto Sans SC";
    --FTMLE_UI-text-font-primary: "Jost", "Noto Sans SC";
    --FTMLE_main-text-font-primary: "Inter", "Noto Sans SC";
    --FTMLE_code-text-font-primary: "JetBrains Mono", "Noto Serif SC";
}

@supports (font-variation-settings: normal) {
    :root {
        --FTMLE_main-text-font-primary: "Inter Variable";

        font-optical-sizing: auto;
    }

    :root:where(:lang(cn)) {
        --FTMLE_main-text-font-primary: "Inter Variable", "Noto Sans SC";
    }
}